<div class="content">
    <ion-row>
        <ion-col size="12">
            <ion-button color="primary" (click)="openCamera()">打开摄像头拍照</ion-button>
        </ion-col>
        <ion-col size="12">
            <ion-button color="primary" (click)="getCardInfo()">扫描并获取银行卡信息</ion-button>
        </ion-col>
        <ion-col size="12">
            <ion-button color="primary" (click)="openBaidu()">App内打开baidu</ion-button>
        </ion-col>
        <ion-col size="12">
            <ion-button color="primary" (click)="getVersion()">获取APP版本等信息</ion-button>
        </ion-col>
        <ion-col size=12 *ngIf="base64Image">
            <img [src]="base64Image">
        </ion-col>
    </ion-row>
</div>