<div id="container">
    接口演示
    <ion-row>
        <ion-col size="12">
            <ion-button color="primary" (click)="login()">登录</ion-button>
        </ion-col>
        <ion-col size="12">
            <ion-button color="success" (click)="getUserInfo()">获取用户信息</ion-button>
        </ion-col>
        <ion-col size="12">
            <ion-button color="warning" (click)="updateUserInfo()">修改用户信息</ion-button>
        </ion-col>
        <ion-col size="12">
            <ion-button color="danger" (click)="deleteUser()">删除用户</ion-button>
        </ion-col>
    </ion-row>
</div>