<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>页面</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="logo-chrome"></ion-icon>
            <ion-label>HTTP请求</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="phone-portrait-outline"></ion-icon>
            <ion-label>原生</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>