<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 3
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">原生插件调用</ion-title>
        </ion-toolbar>
    </ion-header>
    <app-native-demo-page></app-native-demo-page>
</ion-content>